In [1]:
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import gmaps.datasets
from scipy.stats import linregress
from scipy import stats
import os

In [2]:
home_path = os.path.join ("../../GB/Resources/All_Hill_Prop_Value2019.csv")
home_value = pd.read_csv(home_path)
crime_path = os.path.join ("../Resources/combined_crime_data.csv")
crime_data = pd.read_csv(crime_path)

In [3]:
crime_data.head()

,Unnamed: 0,Unnamed: 0.1,Reported Date,Case Number,Crime Type,Crime Type Extension,Address,zip,year
0,0,0,1/1/2016,2016-281,DUI,DUI (DRIVING UNDER INFLUENCE),FLORIDA AV N / WINDWOOD OAKS DR,33613,2016
1,1,6,1/1/2016,2016-60,BATTERY,BATTERY-SIMPLE,13600 BLOCK GRAGSTON CR,33613,2016
2,2,7,1/2/2016,2016-2990,BURGLARY,THEFT FROM A VEHICLE,4000 BLOCK DREAM OAK PL,33613,2016
3,3,9,1/2/2016,2016-3345,THEFT,THEFT FROM A BUILDING,13700 BLOCK 42ND ST N,33613,2016
4,4,10,1/2/2016,2016-3552,BATTERY,BATTERY-SIMPLE,14200 BLOCK NEBRASKA AV N,33613,2016

In [4]:
#remove some columns from the data 
reduced_crime_data_df = crime_data.loc[:, ['Address'
       , 'zip']]
reduced_crime_data_df.head()

                           Address    zip
0  FLORIDA AV N / WINDWOOD OAKS DR  33613
1          13600 BLOCK GRAGSTON CR  33613
2          4000 BLOCK DREAM OAK PL  33613
3            13700 BLOCK 42ND ST N  33613
4        14200 BLOCK NEBRASKA AV N  33613

In [5]:
home_value.head()

,Unnamed: 0,SEQ_NO,PARCEL_ID,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode,BldgSqFt,YearBuilt
0,5,6,172701001000000000011U,462229,21100700,1.205700e+11,19859 ANGEL LN,ODESSA,33556,3972,1996
1,6,7,172701001000000000012U,496434,21100700,1.205700e+11,7320 W COUNTY LINE RD,ODESSA,33556,4643,2003
2,7,8,172701001000000000013U,358083,21100700,1.205700e+11,7212 W COUNTY LINE RD,ODESSA,33556,3269,1999
3,8,9,172701001000000000014U,819704,21100700,1.205700e+11,7222 W COUNTY LINE RD,ODESSA,33556,8203,2008
4,9,10,172701001000000000015U,325923,21100700,1.205700e+11,7326 W COUNTY LINE RD,ODESSA,33556,2608,2003

In [6]:
#remove some columns from the data 
reduced_home_value_df = home_value.loc[:, ['PropAddress']]
reduced_home_value_df.head()

             PropAddress
0         19859 ANGEL LN
1  7320 W COUNTY LINE RD
2  7212 W COUNTY LINE RD
3  7222 W COUNTY LINE RD
4  7326 W COUNTY LINE RD

In [8]:
reduced_home_value_df["PropAddress"]=reduced_home_value_df["PropAddress"].str.replace('\d+', '')
reduced_home_value_df.head()

         PropAddress
0           ANGEL LN
1   W COUNTY LINE RD
2   W COUNTY LINE RD
3   W COUNTY LINE RD
4   W COUNTY LINE RD

In [ ]:
#export data to a csv file
# combined_crimes_data.to_csv("../Resources/combined_crime_data.csv")