In [42]:
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import gmaps.datasets
from scipy.stats import linregress
from scipy import stats
import os

In [43]:
#load assesment file
home_path = os.path.join ("../../GB/Resources/All_Hill_Prop_Value.csv")
home_values = pd.read_csv(home_path)

crime_path = os.path.join ("../Resources/combined_crime_data.csv")
crime_data = pd.read_csv(crime_path)

In [44]:
#pick necessary columns

Home_Values.head()

NameError: name 'Home_Values' is not defined

In [40]:
#remove any null values 
home_value1_df =Home_Values_df.dropna()
home_value1_df.head()

,SEQ_NO,PARCEL_ID,ASMNT_YR,JV,NBRHD_CD,CENSUS_BK,PHY_ADDR1,PHY_CITY,PHY_ZIPCD,TOT_LVG_AREA,ACT_YR_BLT
5,6,172701001000000000011U,2020,462229,21100700,120570115092,19859 ANGEL LN,ODESSA,33556,3972,1996
6,7,172701001000000000012U,2020,496434,21100700,120570115091,7320 W COUNTY LINE RD,ODESSA,33556,4643,2003
7,8,172701001000000000013U,2020,358083,21100700,120570115091,7212 W COUNTY LINE RD,ODESSA,33556,3269,1999
8,9,172701001000000000014U,2020,819704,21100700,120570115091,7222 W COUNTY LINE RD,ODESSA,33556,8203,2008
9,10,172701001000000000015U,2020,325923,21100700,120570115091,7326 W COUNTY LINE RD,ODESSA,33556,2608,2003

In [45]:
#remame columns
renamed_df = home_value1_df.rename(columns={"JV": "PropertyValue",
                                            "PHY_ADDR1": "PropAddress",
                                            "ASMNT_YR": "AssmntYr",
                                            "PHY_CITY":"City",
                                            "PHY_ZIPCD":"ZipCode",
                                             "TOT_LVG_AREA":"BldgSqFt",
                                           "ACT_YR_BLT": "YearBuilt"})
renamed_df.head()

,SEQ_NO,PARCEL_ID,AssmntYr,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode,BldgSqFt,YearBuilt
5,6,172701001000000000011U,2020,462229,21100700,120570115092,19859 ANGEL LN,ODESSA,33556,3972,1996
6,7,172701001000000000012U,2020,496434,21100700,120570115091,7320 W COUNTY LINE RD,ODESSA,33556,4643,2003
7,8,172701001000000000013U,2020,358083,21100700,120570115091,7212 W COUNTY LINE RD,ODESSA,33556,3269,1999
8,9,172701001000000000014U,2020,819704,21100700,120570115091,7222 W COUNTY LINE RD,ODESSA,33556,8203,2008
9,10,172701001000000000015U,2020,325923,21100700,120570115091,7326 W COUNTY LINE RD,ODESSA,33556,2608,2003

In [17]:
#create data frame for specific zip code


Zip13_df = renamed_df.loc[(renamed_df["ZipCode"]=="33613")]
Zip56_df = renamed_df.loc[(renamed_df["ZipCode"]=="33556")]

# Zip13_df.head()
# Zip56_df.head()

In [46]:
# create dataframe with properties less than 2500 sqft
#the theory here is that most Fl homes are between 1000 and 2500sqft, this will help eliminate outliers that skew the average prop valueHills2020_df = Zip_df.loc[(Zip_df["BldgSqFt"]<"2500")
Hills13_df = Zip13_df.loc[(Zip13_df["BldgSqFt"] < "2500")]
Hills56_df = Zip56_df.loc[(Zip56_df["BldgSqFt"] < "2500")]
# Hills13_df.head()
# Hills56_df.head()

In [47]:
# Drop outlier indices

# Calculate the average property value by ZIP


home_average13_df = pd.DataFrame(Hills13_df["PropertyValue"]).mean()
home_average56_df = pd.DataFrame(Hills56_df["PropertyValue"]).mean()

# home_average13_df.head()
# home_average56_df.head()

In [48]:
crime_data.head()

,Unnamed: 0,Unnamed: 0.1,Reported Date,Case Number,Crime Type,Crime Type Extension,Address,zip,year
0,0,0,1/1/2016,2016-281,DUI,DUI (DRIVING UNDER INFLUENCE),FLORIDA AV N / WINDWOOD OAKS DR,33613,2016
1,1,6,1/1/2016,2016-60,BATTERY,BATTERY-SIMPLE,13600 BLOCK GRAGSTON CR,33613,2016
2,2,7,1/2/2016,2016-2990,BURGLARY,THEFT FROM A VEHICLE,4000 BLOCK DREAM OAK PL,33613,2016
3,3,9,1/2/2016,2016-3345,THEFT,THEFT FROM A BUILDING,13700 BLOCK 42ND ST N,33613,2016
4,4,10,1/2/2016,2016-3552,BATTERY,BATTERY-SIMPLE,14200 BLOCK NEBRASKA AV N,33613,2016

In [49]:
crime_data.astype({'zip': 'int64'}, {'year': 'int64'}).dtypes

Unnamed: 0               int64
Unnamed: 0.1             int64
Reported Date           object
Case Number             object
Crime Type              object
Crime Type Extension    object
Address                 object
zip                      int64
year                     int64
dtype: object

In [51]:
crime_data['Avg Prop Value']= ""
crime_data.head()

,Unnamed: 0,Unnamed: 0.1,Reported Date,Case Number,Crime Type,Crime Type Extension,Address,zip,year,Avg Prop Value
0,0,0,1/1/2016,2016-281,DUI,DUI (DRIVING UNDER INFLUENCE),FLORIDA AV N / WINDWOOD OAKS DR,33613,2016,
1,1,6,1/1/2016,2016-60,BATTERY,BATTERY-SIMPLE,13600 BLOCK GRAGSTON CR,33613,2016,
2,2,7,1/2/2016,2016-2990,BURGLARY,THEFT FROM A VEHICLE,4000 BLOCK DREAM OAK PL,33613,2016,
3,3,9,1/2/2016,2016-3345,THEFT,THEFT FROM A BUILDING,13700 BLOCK 42ND ST N,33613,2016,
4,4,10,1/2/2016,2016-3552,BATTERY,BATTERY-SIMPLE,14200 BLOCK NEBRASKA AV N,33613,2016,

In [53]:
# Let's remove property value outliers
# Calculate the IQR 
q3 = home_values["PropertyValue"].quantile(q=.75)
q1 = home_values["PropertyValue"].quantile(q=.25)
iqr = q3 - q1

print(f"The lower quartile of property value is: {q1}")
print(f"The upper quartile of property value is: {q3}")
print(f"The interquartile range of property value is: {iqr}")

# Use the Interquartile Rule to find outliers
upper_bound = q3 + (iqr * 1.5)
lower_bound = q1 - (iqr * 1.5)

print(f"Upper bound is {upper_bound}")
print(f"Lower bound is {lower_bound}")

# Put outliers into the index
index_outlier = home_values[(home_values['PropertyValue'] < lower_bound) | (home_values['PropertyValue'] > upper_bound)].index

# Drop outlier indices
home_values_clean = home_values.drop(index_outlier, inplace = False)

home_values_clean["ZipCode"]

The lower quartile of property value is: 132881.0
The upper quartile of property value is: 266809.25
The interquartile range of property value is: 133928.25
Upper bound is 467701.625
Lower bound is -68011.375

0         33556
2         33556
4         33556
5         33556
7         33556
          ...
443389    33547
443390    33547
443391    33547
443392    33547
443394    33547
Name: ZipCode, Length: 408409, dtype: int64

In [54]:
# Calculate the average property value by ZIP
home_average = home_values_clean.groupby(['ZipCode'])

home_average_df = pd.DataFrame(home_average["PropertyValue"].mean().round(2))
home_average_df = home_average_df.reset_index()

home_average_df.head()

   ZipCode  PropertyValue
0    33503      381777.00
1    33510      171649.64
2    33511      190155.62
3    33527      195476.78
4    33534      155812.15

In [55]:
# Add average property value to school dataframe
for i, row in home_average_df.iterrows():
    crime_data.loc[crime_data['zip'] == row['ZipCode'], "Avg Prop Value"] = row['PropertyValue']

crime_data.head()

,Reported Date,Case Number,Crime Type,Crime Type Extension,year,zip,Avg Prop Value
0,1/1/2016,2016-281,DUI,DUI (DRIVING UNDER INFLUENCE),2016,33613,145380.16
1,1/1/2016,2016-60,BATTERY,BATTERY-SIMPLE,2016,33613,145380.16
2,1/2/2016,2016-2990,BURGLARY,THEFT FROM A VEHICLE,2016,33613,145380.16
3,1/2/2016,2016-3345,THEFT,THEFT FROM A BUILDING,2016,33613,145380.16
4,1/2/2016,2016-3552,BATTERY,BATTERY-SIMPLE,2016,33613,145380.16

In [62]:
index_crime_19 = crime_data[(crime_data['year'] != 2019)].index 
crime_data_19 = crime_data.drop(index_crime_19, inplace = False)

crime_data_19.head()

,Reported Date,Case Number,Crime Type,Crime Type Extension,year,zip,Avg Prop Value
6687,1/1/2019,2019-1374,BATTERY,BATTERY-SIMPLE,2019,33613,145380.16
6688,1/1/2019,2019-1374,DRUGS,DRUGS/NARCOTICS,2019,33613,145380.16
6689,1/1/2019,2019-1374,DRUGS,DRUG PARAPHERNALIA,2019,33613,145380.16
6690,1/1/2019,2019-1202,BURGLARY,BURGLARY RESIDENCE / NO FORCE,2019,33613,145380.16
6691,1/1/2019,2019-1342,BURGLARY,BURGLARY RESIDENCE / NO FORCE,2019,33613,145380.16