In [1]:
# set depedencies
import pandas as pd
import numpy as np
import os

In [2]:
#load assesment file
Hills_Values = os.path.join ("../Resources/HillsboroughAsmt.csv")

#create dataframe
Hills_Values_df = pd.read_csv(Hills_Values, dtype={'PHY_ZIPCD':'str'})

Hills_Values_df.head()

,CO_NO,SEQ_NO,PARCEL_ID,ASMNT_YR,JV,LND_VAL,LND_UNTS_CD,NO_LND_UNTS,LND_SQFOOT,IMP_QUAL,...,OWN_ZIPCD,S_LEGAL,NBRHD_CD,CENSUS_BK,PHY_ADDR1,PHY_ADDR2,PHY_CITY,PHY_ZIPCD,ALT_KEY,STATE_PAR_ID
0,39,1,153323ZZZ000000000200A,2020,4628604,4554224,1,38842.0,13634755.0,NaN,...,33711.0,23 24 25 AND 26-33-15,22700200,120579900000,EGMONT KEY,NaN,ST PETERSBURG,33715,10000,C39-000-383-0762-5
1,39,2,153323ZZZ000000000201A,2020,100,100,5,1.0,NaN,NaN,...,33602.0,TAMPA BAY,22700200,120579900000,NaN,NaN,NaN,NaN,2900000202,C39-001-120-8468-6
2,39,3,153323ZZZ000000000400A,2020,208044,142794,1,550.0,267803.0,NaN,...,33601.0,THAT PART OF GOVT LOT 1 DESC A,22700200,120579900000,NaN,NaN,ST PETERSBURG,33715,50000,C39-000-383-0763-3
3,39,4,172701001000000000001U,2020,147699,5875,1,250.0,108816.0,NaN,...,33556.0,KEYSTONE PARK COLONY,21100700,120570115091,19507 PINE TREE RD,NaN,ODESSA,33556,370275,C39-000-421-5629-9
4,39,5,172701001000000000010U,2020,140829,134439,1,458.0,205316.0,NaN,...,33556.0,KEYSTONE PARK COLONY,21100700,120570115092,19931 ANGEL LN,NaN,ODESSA,33556,80000,C39-000-421-5630-7

In [3]:
#pick necessary columns
Home_Values_df = Hills_Values_df [['SEQ_NO','PARCEL_ID','JV','NBRHD_CD','CENSUS_BK','PHY_ADDR1','PHY_CITY','PHY_ZIPCD']]
Home_Values_df.head()

,SEQ_NO,PARCEL_ID,JV,NBRHD_CD,CENSUS_BK,PHY_ADDR1,PHY_CITY,PHY_ZIPCD
0,1,153323ZZZ000000000200A,4628604,22700200,120579900000,EGMONT KEY,ST PETERSBURG,33715
1,2,153323ZZZ000000000201A,100,22700200,120579900000,NaN,NaN,NaN
2,3,153323ZZZ000000000400A,208044,22700200,120579900000,NaN,ST PETERSBURG,33715
3,4,172701001000000000001U,147699,21100700,120570115091,19507 PINE TREE RD,ODESSA,33556
4,5,172701001000000000010U,140829,21100700,120570115092,19931 ANGEL LN,ODESSA,33556

In [4]:
#remove any null values 
home_value1_df =Home_Values_df.dropna()
home_value1_df.head()

,SEQ_NO,PARCEL_ID,JV,NBRHD_CD,CENSUS_BK,PHY_ADDR1,PHY_CITY,PHY_ZIPCD
0,1,153323ZZZ000000000200A,4628604,22700200,120579900000,EGMONT KEY,ST PETERSBURG,33715
3,4,172701001000000000001U,147699,21100700,120570115091,19507 PINE TREE RD,ODESSA,33556
4,5,172701001000000000010U,140829,21100700,120570115092,19931 ANGEL LN,ODESSA,33556
5,6,172701001000000000011U,462229,21100700,120570115092,19859 ANGEL LN,ODESSA,33556
6,7,172701001000000000012U,496434,21100700,120570115091,7320 W COUNTY LINE RD,ODESSA,33556

In [5]:
#remame columns
renamed_df = home_value1_df.rename(columns={"JV": "PropertyValue",
                                            "PHY_ADDR1": "PropAddress",
                                            "PHY_CITY":"City",
                                            "PHY_ZIPCD":"ZipCode"})
renamed_df.head()

,SEQ_NO,PARCEL_ID,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode
0,1,153323ZZZ000000000200A,4628604,22700200,120579900000,EGMONT KEY,ST PETERSBURG,33715
3,4,172701001000000000001U,147699,21100700,120570115091,19507 PINE TREE RD,ODESSA,33556
4,5,172701001000000000010U,140829,21100700,120570115092,19931 ANGEL LN,ODESSA,33556
5,6,172701001000000000011U,462229,21100700,120570115092,19859 ANGEL LN,ODESSA,33556
6,7,172701001000000000012U,496434,21100700,120570115091,7320 W COUNTY LINE RD,ODESSA,33556

In [6]:
#create data frame for specific zip code


Zip_df = renamed_df.loc[(renamed_df["ZipCode"]=="33613")]
Zip_df.head()

,SEQ_NO,PARCEL_ID,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode
58668,59073,1827230KS000000000110U,100,21500500,120570111071,16721 VALSECA DE AVILA,TAMPA,33613
58791,59197,1827230KW000003000080U,974734,21500500,120570111071,17011 CANDELEDA DE AVILA,TAMPA,33613
58792,59198,1827230KW000003000090U,761368,21500500,120570111071,17013 CANDELEDA DE AVILA,TAMPA,33613
58793,59199,1827230L0000003000030U,1503850,21500500,120570111071,17001 CANDELEDA DE AVILA,TAMPA,33613
58794,59200,1827230L2000001000070U,1093532,21500500,120570111071,17004 ABASTROS DE AVILA,TAMPA,33613

In [7]:
#export to csv 
Zip_df.to_csv("../Resources/Hill_Prop_Value.csv")