In [2]:
import pandas as pd

In [26]:
# Read .csv file of total schools and grades from Florida Department of Education
file = "./SchoolGrades19_clean.csv"
school_grades = pd.read_csv(file)

# Read file with school zip code info
file2 = "./hills_schools_zip.csv"
school_zip = pd.read_csv(file2)

pd.set_option('display.max_columns', None)

In [6]:
# Drop all but Hillsborough County schools
index_names1 = school_grades[(school_grades['District Name'] != "HILLSBOROUGH")].index 
school_grades_hill = school_grades.drop(index_names1, inplace = False)

school_grades_hill

,District Number,District Name,School Number,School Name,English Language Arts Achievement,English Language Arts Learning Gains,English Language Arts Learning Gains of the Lowest 25%,Mathematics Achievement,Mathematics Learning Gains,Mathematics Learning Gains of the Lowest 25%,Science Achievement,Social Studies Achievement,Middle School Acceleration,Graduation Rate 2017-18,College and Career Acceleration 2017-18,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Grade 2014,Grade 2013,Grade 2012,Grade 2011,Grade 2010,Grade 2009,Grade 2008,Grade 2007,Grade 2006,Grade 2005,Grade 2004,Grade 2003,Grade 2002,Grade 2001,Grade 2000,Grade 1999,Was the collocated rule used?,Collocated Number,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1418,29,HILLSBOROUGH,5,WARREN HOPE DAWSON ELEMENTARY,50,53,54,40,31,34,41,0,0,0,0,303,7,43,99,C,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0.0,NO,NO,N,1,50.6,48.3
1419,29,HILLSBOROUGH,41,ADAMS MIDDLE SCHOOL,28,34,33,33,44,40,26,31,66,0,0,335,9,37,99,D,C,C,C,C,C,C,B,A,A,A,A,A,A,B,B,A,A,A,C,C,N,0.0,NO,YES,N,2,87.5,91.6
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,34,56,60,37,56,62,33,0,0,0,0,338,7,48,100,C,D,D,F,F,D,C,C,C,C,B,C,B,B,C,B,B,B,C,C,C,N,0.0,NO,YES,N,1,85.6,94.6
1421,29,HILLSBOROUGH,43,SPOTO HIGH SCHOOL,30,34,28,31,41,43,58,57,0,88,36,446,10,45,97,C,C,C,C,C,C,B,B,A,D,D,C,D,0,0,0,0,0,0,0,0,N,0.0,NO,YES,N,3,84.2,75.8
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,32,58,67,39,63,54,38,0,0,0,0,351,7,50,100,C,D,D,D,F,D,F,D,C,C,B,C,B,C,C,0,0,0,0,0,0,N,0.0,NO,YES,N,1,97.4,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,29,HILLSBOROUGH,7814,PLATO ACADEMY TAMPA CHARTER SCHOOL,74,0,0,74,0,0,0,0,0,0,0,148,2,74,100,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0.0,YES,NO,N,1,55.1,36.1
1674,29,HILLSBOROUGH,7815,SPORTS LEADERSHIP AND MANAGEMENT ACADEMY (TAMPA),43,47,44,44,49,47,39,57,54,0,0,424,9,47,99,C,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0.0,YES,YES,N,4,77.8,70.3
1675,29,HILLSBOROUGH,7821,KIDS COMMUNITY COLLEGE SOUTHEAST MIDDLE CHARTE...,37,41,44,27,18,35,29,81,38,0,0,350,9,39,100,D,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0.0,YES,NO,N,2,72.0,12.8
1676,29,HILLSBOROUGH,7822,THE COLLABORATORY PREPARATORY ACADEMY,22,50,0,27,65,0,0,0,0,0,0,164,4,41,100,C,F,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0.0,YES,YES,N,1,94.4,97.8
1677,29,HILLSBOROUGH,7826,FLORIDA CONNECTIONS ACADEMY,61,58,46,43,37,19,42,60,29,0,0,395,9,44,95,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0.0,YES,NO,N,4,45.4,46.1

In [5]:
school_grades_hill.count()

District Number                                           260
District Name                                             260
School Number                                             260
School Name                                               260
English Language Arts Achievement                         260
English Language Arts Learning Gains                      260
English Language Arts Learning Gains of the Lowest 25%    260
Mathematics Achievement                                   260
Mathematics Learning Gains                                260
Mathematics Learning Gains of the Lowest 25%              260
Science Achievement                                       260
Social Studies Achievement                                260
Middle School Acceleration                                260
Graduation Rate 2017-18                                   260
College and Career Acceleration 2017-18                   260
Total Points Earned                                       260
Total Components                                          260
Percent of Total Possible Points                          260
Percent Tested                                            260
Grade 2019                                                260
Grade 2018                                                260
Grade 2017                                                260
Grade 2016                                                260
Informational Baseline Grade 2015                         260
Grade 2014                                                260
Grade 2013                                                260
Grade 2012                                                260
Grade 2011                                                260
Grade 2010                                                260
Grade 2009                                                260
Grade 2008                                                260
Grade 2007                                                260
Grade 2006                                                260
Grade 2005                                                260
Grade 2004                                                260
Grade 2003                                                260
Grade 2002                                                260
Grade 2001                                                260
Grade 2000                                                260
Grade 1999                                                260
Was the collocated rule used?                             260
Collocated Number                                         260
Charter School                                            260
Title I                                                   260
Alternative/ESE Center School                             260
School Type                                               260
Percent of Minority Students                              260
Percent of Economically Disadvantaged Students            260
dtype: int64

In [44]:
# Create stripped-down dataframe that only contains grades as far back as 2015
# Also removes: collocated rule columns because they were empty
# and miscellaneous other columns:
school_grades_basic = school_grades_hill.loc[:, ["District Number", "District Name", "School Number", "School Name", 
                                            "Total Points Earned", "Total Components", "Percent of Total Possible Points", 
                                            "Percent Tested", "Grade 2019", "Grade 2018", "Grade 2017", "Grade 2016", 
                                            "Informational Baseline Grade 2015", "Charter School", "Title I", 
                                            "Alternative/ESE Center School", "School Type", "Percent of Minority Students", 
                                            "Percent of Economically Disadvantaged Students"]]

# Drop schools with missing grade data from 2015
indexNames2 = school_grades_basic[school_grades_basic['Informational Baseline Grade 2015'] == '0'].index
 
# Delete these row indices from dataFrame
school_grades_basic = school_grades_basic.drop(indexNames2)

school_grades_basic.head()

,District Number,District Name,School Number,School Name,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1419,29,HILLSBOROUGH,41,ADAMS MIDDLE SCHOOL,335,9,37,99,D,C,C,C,C,NO,YES,N,2,87.5,91.6
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,338,7,48,100,C,D,D,F,F,NO,YES,N,1,85.6,94.6
1421,29,HILLSBOROUGH,43,SPOTO HIGH SCHOOL,446,10,45,97,C,C,C,C,C,NO,YES,N,3,84.2,75.8
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,351,7,50,100,C,D,D,D,F,NO,YES,N,1,97.4,98
1423,29,HILLSBOROUGH,52,GIUNTA MIDDLE SCHOOL,341,9,38,99,D,D,C,C,C,NO,YES,N,2,83.7,87.2

In [46]:
# Create dataframe with only elementary schools
indexNames3 = school_grades_basic[school_grades_basic['School Type'] != 1].index
school_grades_elem = school_grades_basic.drop(indexNames3)

school_grades_elem.head()

,District Number,District Name,School Number,School Name,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,338,7,48,100,C,D,D,F,F,NO,YES,N,1,85.6,94.6
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,351,7,50,100,C,D,D,D,F,NO,YES,N,1,97.4,98
1424,29,HILLSBOROUGH,54,CORR ELEMENTARY SCHOOL,315,7,45,100,C,C,C,C,D,NO,YES,N,1,79.1,78
1426,29,HILLSBOROUGH,56,DAVIS ELEMENTARY SCHOOL,333,7,48,100,C,C,C,C,C,NO,YES,N,1,85.8,90.5
1427,29,HILLSBOROUGH,59,FISHHAWK CREEK ELEMENTARY SCHOOL,497,7,71,100,A,A,A,A,A,NO,NO,N,1,30.6,13.8

In [47]:
# Create dataframe without charter schools
indexNames4 = school_grades_elem[school_grades_elem['Charter School'] == 'YES'].index

# Delete these row indices from dataFrame
school_grades_elem_xc = school_grades_elem.drop(indexNames4)

# Add column for zip code
school_grades_elem_xc['ZIP']= ""

school_grades_elem_xc

,District Number,District Name,School Number,School Name,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students,ZIP
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,338,7,48,100,C,D,D,F,F,NO,YES,N,1,85.6,94.6,
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,351,7,50,100,C,D,D,D,F,NO,YES,N,1,97.4,98,
1424,29,HILLSBOROUGH,54,CORR ELEMENTARY SCHOOL,315,7,45,100,C,C,C,C,D,NO,YES,N,1,79.1,78,
1426,29,HILLSBOROUGH,56,DAVIS ELEMENTARY SCHOOL,333,7,48,100,C,C,C,C,C,NO,YES,N,1,85.8,90.5,
1427,29,HILLSBOROUGH,59,FISHHAWK CREEK ELEMENTARY SCHOOL,497,7,71,100,A,A,A,A,A,NO,NO,N,1,30.6,13.8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,29,HILLSBOROUGH,4801,WILSON ELEMENTARY SCHOOL,284,7,41,99,C,B,C,C,C,NO,YES,N,1,72.2,90.5,
1628,29,HILLSBOROUGH,4841,WIMAUMA ELEMENTARY SCHOOL,332,7,47,99,C,C,C,C,C,NO,YES,N,1,92.1,95.4,
1629,29,HILLSBOROUGH,4921,WITTER ELEMENTARY SCHOOL,259,7,37,99,D,C,B,C,D,NO,YES,N,1,95.9,96.1,
1630,29,HILLSBOROUGH,4941,WOODBRIDGE ELEMENTARY SCHOOL,315,7,45,100,C,C,B,B,C,NO,YES,N,1,90.1,89.7,
1631,29,HILLSBOROUGH,4961,YATES ELEMENTARY SCHOOL,365,7,52,100,C,C,C,C,C,NO,YES,N,1,70.0,83.1,

In [34]:
# Convert numbers in school_zip so they match number formats in school_grades_elem_xc
school_zip.astype({'School Number': 'int64'}, {'School ZIP': 'int64'}).dtypes

,School Name,School Number,School Address,School ZIP
0,Alafia Elementary School 0271,271,"3535 Culbreath Rd, Valrico, FL 33596",33596
1,Alexander Elementary School 0081,81,"5602 N Lois Ave, Tampa, FL 33614",33614
2,Anderson Elementary School 0121,121,"3910 W Fair Oaks Ave, Tampa, FL 33611",33611
3,Apollo Beach Elementary School 0141,141,"501 Apollo Beach Blvd, Apollo Beach, FL 33572",33572
4,Bailey Elementary School 0092,92,"4630 Gallagher Rd, Dover, FL 33527",33527
...,...,...,...,...
140,Wilson Elementary School (4801),4801,"702 W English St, Plant City, FL 33563",33563
141,Wimauma Elementary School (4841),4841,"5709 Hickman St, Wimauma, FL 33598",33598
142,Witter Elementary School (4921),4921,"10801 N 22nd St, Tampa, FL 33612",33612
143,Woodbridge Elementary School (4941),4941,"8301 Woodbridge Blvd, Tampa, FL 33615",33615
144,Yates Elementary School (4961),4961,"301 Kingsway Rd, Brandon, FL 33510",33510

In [62]:
for i, row in school_zip.iterrows():
    school_grades_elem_xc.loc[school_grades_elem_xc['School Number'] == row['School Number'], "ZIP"] = row['School ZIP']

# school_grades_elem_xc.astype({'ZIP': 'int64'}).dtypes
school_grades_elem_xc.head()

,District Number,District Name,School Number,School Name,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students,ZIP
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,338,7,48,100,C,D,D,F,F,NO,YES,N,1,85.6,94.6,33612
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,351,7,50,100,C,D,D,D,F,NO,YES,N,1,97.4,98,33610
1424,29,HILLSBOROUGH,54,CORR ELEMENTARY SCHOOL,315,7,45,100,C,C,C,C,D,NO,YES,N,1,79.1,78,33534
1426,29,HILLSBOROUGH,56,DAVIS ELEMENTARY SCHOOL,333,7,48,100,C,C,C,C,C,NO,YES,N,1,85.8,90.5,33615
1427,29,HILLSBOROUGH,59,FISHHAWK CREEK ELEMENTARY SCHOOL,497,7,71,100,A,A,A,A,A,NO,NO,N,1,30.6,13.8,33547

In [68]:
# school_grades_final = school_grades_elem_xc.sort_values(by=['ZIP'])
indexNames5 = school_grades_elem_xc[school_grades_elem_xc['ZIP'] == ''].index

# Delete these row indices from dataFrame
school_grades_final = school_grades_elem_xc.drop(indexNames5)

# school_grades_elem_xc.astype({'ZIP': 'int64'}).dtypes
school_grades_final.count()

school_grades_final.to_csv('school_grades_final.csv')

In [69]:
school_grades_final.count()

District Number                                   133
District Name                                     133
School Number                                     133
School Name                                       133
Total Points Earned                               133
Total Components                                  133
Percent of Total Possible Points                  133
Percent Tested                                    133
Grade 2019                                        133
Grade 2018                                        133
Grade 2017                                        133
Grade 2016                                        133
Informational Baseline Grade 2015                 133
Charter School                                    133
Title I                                           133
Alternative/ESE Center School                     133
School Type                                       133
Percent of Minority Students                      133
Percent of Economically Disadvantaged Students    133
ZIP                                               133
dtype: int64