In [1]:
import pandas as pd

In [2]:
# Read .csv file from Florida Department of Education
file = "./SchoolGrades19_clean.csv"
school_grades = pd.read_csv(file)
pd.set_option('display.max_columns', None)

# Drop all but Hillsborough County schools
index_names = school_grades[(school_grades['District Name'] != "HILLSBOROUGH")].index 
school_grades.drop(index_names, inplace = True)

school_grades.head()

,District Number,District Name,School Number,School Name,English Language Arts Achievement,English Language Arts Learning Gains,English Language Arts Learning Gains of the Lowest 25%,Mathematics Achievement,Mathematics Learning Gains,Mathematics Learning Gains of the Lowest 25%,Science Achievement,Social Studies Achievement,Middle School Acceleration,Graduation Rate 2017-18,College and Career Acceleration 2017-18,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Grade 2014,Grade 2013,Grade 2012,Grade 2011,Grade 2010,Grade 2009,Grade 2008,Grade 2007,Grade 2006,Grade 2005,Grade 2004,Grade 2003,Grade 2002,Grade 2001,Grade 2000,Grade 1999,Was the collocated rule used?,Collocated Number,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1418,29,HILLSBOROUGH,5,WARREN HOPE DAWSON ELEMENTARY,50.0,53.0,54.0,40.0,31.0,34.0,41.0,NaN,NaN,NaN,NaN,303.0,7.0,43.0,99.0,C,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NO,NO,N,1,50.6,48.3
1419,29,HILLSBOROUGH,41,ADAMS MIDDLE SCHOOL,28.0,34.0,33.0,33.0,44.0,40.0,26.0,31.0,66.0,NaN,NaN,335.0,9.0,37.0,99.0,D,C,C,C,C,C,C,B,A,A,A,A,A,A,B,B,A,A,A,C,C,N,NaN,NO,YES,N,2,87.5,91.6
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,34.0,56.0,60.0,37.0,56.0,62.0,33.0,NaN,NaN,NaN,NaN,338.0,7.0,48.0,100.0,C,D,D,F,F,D,C,C,C,C,B,C,B,B,C,B,B,B,C,C,C,N,NaN,NO,YES,N,1,85.6,94.6
1421,29,HILLSBOROUGH,43,SPOTO HIGH SCHOOL,30.0,34.0,28.0,31.0,41.0,43.0,58.0,57.0,NaN,88.0,36.0,446.0,10.0,45.0,97.0,C,C,C,C,C,C,B,B,A,D,D,C,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NO,YES,N,3,84.2,75.8
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,32.0,58.0,67.0,39.0,63.0,54.0,38.0,NaN,NaN,NaN,NaN,351.0,7.0,50.0,100.0,C,D,D,D,F,D,F,D,C,C,B,C,B,C,C,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NO,YES,N,1,97.4,98

In [3]:
school_grades.count()

District Number                                           260
District Name                                             260
School Number                                             260
School Name                                               260
English Language Arts Achievement                         258
English Language Arts Learning Gains                      256
English Language Arts Learning Gains of the Lowest 25%    254
Mathematics Achievement                                   258
Mathematics Learning Gains                                256
Mathematics Learning Gains of the Lowest 25%              253
Science Achievement                                       255
Social Studies Achievement                                109
Middle School Acceleration                                 76
Graduation Rate 2017-18                                    33
College and Career Acceleration 2017-18                    31
Total Points Earned                                       260
Total Components                                          260
Percent of Total Possible Points                          260
Percent Tested                                            258
Grade 2019                                                260
Grade 2018                                                254
Grade 2017                                                245
Grade 2016                                                246
Informational Baseline Grade 2015                         243
Grade 2014                                                237
Grade 2013                                                233
Grade 2012                                                225
Grade 2011                                                219
Grade 2010                                                218
Grade 2009                                                211
Grade 2008                                                206
Grade 2007                                                202
Grade 2006                                                196
Grade 2005                                                192
Grade 2004                                                181
Grade 2003                                                172
Grade 2002                                                162
Grade 2001                                                151
Grade 2000                                                147
Grade 1999                                                148
Was the collocated rule used?                             260
Collocated Number                                           0
Charter School                                            260
Title I                                                   260
Alternative/ESE Center School                             260
School Type                                               260
Percent of Minority Students                              260
Percent of Economically Disadvantaged Students            260
dtype: int64

In [7]:
# Remove Callocated Rule columns as the rule was not used in this dataset
school_grades_basic = school_grades.loc[:, ["District Number", "District Name", "School Number", "School Name", 
                                            "Graduation Rate 2017-18", "College and Career Acceleration 2017-18", 
                                            "Total Points Earned", "Total Components", "Percent of Total Possible Points", 
                                            "Percent Tested", "Grade 2019", "Grade 2018", "Grade 2017", "Grade 2016", 
                                            "Informational Baseline Grade 2015", "Charter School", "Title I", 
                                            "Alternative/ESE Center School", "School Type", "Percent of Minority Students", 
                                            "Percent of Economically Disadvantaged Students"]]
# Drop schools with missing grade data from 2015
school_grades_baseline.drop(school_grades_baseline[school_grades_baseline["Informational Baseline Grade 2015"].isin(["A", "B", "C", "D", "F"])].index)
school_grades_basic


# (school_grades_baseline['Informational Baseline Grade 2015'] != 'B') |
#                                      (school_grades_baseline['Informational Baseline Grade 2015'] != 'C') |
#                                      (school_grades_baseline['Informational Baseline Grade 2015'] != 'D') |
#                                      (school_grades_baseline['Informational Baseline Grade 2015'] != 'F')

# Fill NaN values and convert to float
# rating = airport_df["Airport Rating"].astype(float)

,District Number,District Name,School Number,School Name,Graduation Rate 2017-18,College and Career Acceleration 2017-18,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1418,29,HILLSBOROUGH,5,WARREN HOPE DAWSON ELEMENTARY,NaN,NaN,303.0,7.0,43.0,99.0,C,C,NaN,NaN,NaN,NO,NO,N,1,50.6,48.3
1419,29,HILLSBOROUGH,41,ADAMS MIDDLE SCHOOL,NaN,NaN,335.0,9.0,37.0,99.0,D,C,C,C,C,NO,YES,N,2,87.5,91.6
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,NaN,NaN,338.0,7.0,48.0,100.0,C,D,D,F,F,NO,YES,N,1,85.6,94.6
1421,29,HILLSBOROUGH,43,SPOTO HIGH SCHOOL,88.0,36.0,446.0,10.0,45.0,97.0,C,C,C,C,C,NO,YES,N,3,84.2,75.8
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,NaN,NaN,351.0,7.0,50.0,100.0,C,D,D,D,F,NO,YES,N,1,97.4,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,29,HILLSBOROUGH,7814,PLATO ACADEMY TAMPA CHARTER SCHOOL,NaN,NaN,148.0,2.0,74.0,100.0,A,NaN,NaN,NaN,NaN,YES,NO,N,1,55.1,36.1
1674,29,HILLSBOROUGH,7815,SPORTS LEADERSHIP AND MANAGEMENT ACADEMY (TAMPA),NaN,NaN,424.0,9.0,47.0,99.0,C,C,NaN,NaN,NaN,YES,YES,N,4,77.8,70.3
1675,29,HILLSBOROUGH,7821,KIDS COMMUNITY COLLEGE SOUTHEAST MIDDLE CHARTE...,NaN,NaN,350.0,9.0,39.0,100.0,D,C,NaN,NaN,NaN,YES,NO,N,2,72.0,12.8
1676,29,HILLSBOROUGH,7822,THE COLLABORATORY PREPARATORY ACADEMY,NaN,NaN,164.0,4.0,41.0,100.0,C,F,NaN,NaN,NaN,YES,YES,N,1,94.4,97.8
1677,29,HILLSBOROUGH,7826,FLORIDA CONNECTIONS ACADEMY,NaN,NaN,395.0,9.0,44.0,95.0,C,NaN,NaN,NaN,NaN,YES,NO,N,4,45.4,46.1

In [ ]:
school_grades.head()